@page "/demo/HR_User-Anlage"

@using System.Data.Sql;
@using System.Data.SqlClient;
@using Dapper
@using DataLibrary
@using Microsoft.Extensions.Configuration
@using merTensWebApp.Models
@using merTensWebApp.Data

@inject HR_UserService UserService

<NavLink class="nav-link" href="AddUser">
    <Span class="oi oi-plus" aria-hidden="true"></Span>Add New
</NavLink>

<h1>Anlage History</h1>

@if(objUser == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Stellenbeschreibung</th>
            </tr>
        </thead>
    </table>
}

@code {
    IEnumerable<Model_HR_User_Anlage> objUser;
    protected override async Task OnInitializedAsync()
    {
        objUser = await UserService.GetUser();
    }
}
